html, body {
  background-color: #ABD6A5;
  width: 100%;
}

.logo {
  margin: 20px;
}

.logo img {
  width: 400px;
  margin: 0 auto;
}

/* ****************
 * Grid
 * *************** */
.grid {
  float: left;
  margin: 20px;
  width: 400px;
  height: 100%;
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
}

.grid .title {
  color: #C11920;
  font-size: 1.8rem;
  padding: 8px;
  margin: 0 auto;
}

/* ****************
 * Item
 * *************** */
.item {
  width: 300px;
  height: 60px;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  position: relative;
}

.item .thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80%;
}

.item .name {
  position: absolute;
  top: 10px;
  left: 100px;
  font-size: 1.4rem;
}

.item .department {
  position: absolute;
  top: 28px;
  left: 100px;
  font-size: 0.9rem;
  color: #9FA0A0;
}

/* ****************
 * Hr
 * *************** */
hr.fancy-line {
  border: 0;
  height: 0;
  margin: 0px auto 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(193, 25, 32, 1);
}

/* ****************
 * Button
 * *************** */
.btn {
  width: 240px;
  margin: 20px auto 5px;
}

.btn a {
  width: 240px;
  font-size: 16px;
  display: inline-block;
  padding: 5% 4%;
  transition: 0.2s;
  text-decoration: none;
  text-align: center;
  color: #696969;
  border: 2px solid #696969;
  border-radius: 5px;
  background: transparent;
}

.btn a:hover {
  color: #f5f5f5;
  background: rgba(0, 0, 0, 0.7);
}

/* ****************
 * Balloon,Rounded
 * *************** */
.balloon {
  position: relative;
  width: 400px;
  height: 30px;
  padding: 8px 0 4px;
  color: #FFFFFF;
  background-color: #5CB531;
  text-align: center;
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #5CB531;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.rounded {
  position: relative;
  width: 340px;
  height: 30px;
  padding: 8px 20px 4px;
  color: #FFFFFF;
  background-color: #696969;
  border-radius: 5px;
}

.rounded .reason {
  text-align: left;
}

.rounded .time {
  position: absolute;
  right: 10px;
  text-align: right;
}

.rounded:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #696969;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* ****************
 * Search
 * *************** */
#search-area {
  margin: 20px;
}

#search-area input {
  font-size: 14px;
  width: 400px;
  border: 1px solid #B9C9CE;
  border-radius: 5px;
  padding: 12px 0.8em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  float: left;
}

#search-area input[type=text]:focus {
  border-color: #83B6C2;
  outline: none;
  box-shadow: 2px 2px 4px rgba(143, 183, 222, 0.6), -2px -2px 4px
    rgba(143, 183, 222, 0.6), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.filter-conditon {
  float: left;
  position: relative;
  margin: 0px 5px 0px 10px;
  padding: 9px 30px 9px 30px;
  color: #FFFFFF;
  background-color: #5CB531;
  text-align: center;
  border-radius: 5px;
}

.filter-conditon:hover {
  opacity: 0.7;
  background-image: url("../images/cross.png");
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: 97% 10%;
}

/* ****************
 * Reset
 * *************** */
.clear {
  clear: both;
}

/* ****************
 * Modal window
 * *************** */
#entry-modal:target {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-shadow: 0 1px 0 #333;
  color: #fff;
  text-align: center;
  font-size: 20px;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
/* Modal content */
.modal-inner {
  position: relative;
  margin: 60px 5% 5%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .2);
  z-index: 10;
}

.modal h2 {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

/* ****************
 * Modal close button
 * *************** */
.modal .close {
  display: block;
  position: absolute;
  top: 0; left 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .74);
  z-index: 1;
}

.modal .close span {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.modal .close span {
  text-indent: -9999px;
}

.modal .close span:before,
.modal .close span:after {
  content: "";
  position: absolute;
  top: 4px;
  border: 1px solid #fff;
  height: 30px;
}

.modal .close span:before {
  left: 19px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal .close span:after {
  right: 19px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}